*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    /* height: 100px
    width: 100%; */
    background: green;
    display: grid;
    grid-template-columns: 20% 60% 20%;
}
nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
   
}
nav ul li{
    list-style: none;
    

}
button{
    width: 64px;
    border: 2px solid black;
    margin-left: 2rem;
   

}